@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto+Slab&family=Wallpoet&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightgray;
  font-family: "Madimi One", monospace;
/*height: 100px;*/
}

/* PRIMER MODAL DE BIENVENIDA */
.modalBienvenida{ 
  position: fixed;
  left: 0;
  top: 0; 
  bottom: 0;
  right: 0;
  background: #111111bd;
  display: flex;
  opacity: 1;
  }


.modalLose { 
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0; 
  bottom: 0;
  right: 0;
  background: #111111bd;
  display: none;
  }


.modalContenedor{
  margin: auto;
  min-width: 60%;
  max-width: 300px;
  background-color: #f9faf7;
  border-radius: 20px;
  padding: 15px;
  display: grid;
  place-items: center;
  text-align: center;
}


.modalImg {
  width: 40%;
  max-width: 300px;
}

.modalTitulo {
  margin: 3px;
  font-size: 2rem;
  color: #0307f1;
  -webkit-text-fill-color: rgb(228, 238, 38);
  -webkit-text-stroke: 2px #0307f1;
}

.modalTexto{
  margin-bottom: 20px;
  font-size: 1.5rem;
  font: bold;
  color: black;
  -webkit-text-fill-color: rgb(30, 255, 0);
  -webkit-text-stroke: 1px black;
  /*color: #0307f1;*/
}

.modalTexto1{
  margin-bottom: 20px;
  color: rgb(122, 14, 122);
}

.modalTexto2{
  margin-bottom: 20px;
  font-size: 0.75rem;
}

.cerrarModal {
  background:  linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.53) 0%,
    rgba(255, 153, 0, 0.53) 10%,
    rgba(208, 222, 33, 0.53) 20%,
    rgba(79, 220, 74, 0.53) 30%,
    rgba(63, 218, 216, 0.53) 40%,
    rgba(47, 201, 226, 0.53) 50%,
    rgba(28, 127, 238, 0.53) 60%,
    rgba(95, 21, 242, 0.53) 70%,
    rgba(186, 12, 248, 0.53) 80%,
    rgba(251, 7, 217, 0.53) 90%,
    rgba(255, 0, 0, 0.53) 100%
  );
  padding: 1em 3em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #0307f1;
  font-size: 1.5rem;
  margin: 20px;
}

.cerrarModal:hover {
  background-color: #0307f1;
  color: #e3fc02;
}
/* FIN DEL PRIMER MODAL */

h1 {
  background:  linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.53) 0%,
      rgba(255, 153, 0, 0.53) 10%,
      rgba(208, 222, 33, 0.53) 20%,
      rgba(79, 220, 74, 0.53) 30%,
      rgba(63, 218, 216, 0.53) 40%,
      rgba(47, 201, 226, 0.53) 50%,
      rgba(28, 127, 238, 0.53) 60%,
      rgba(95, 21, 242, 0.53) 70%,
      rgba(186, 12, 248, 0.53) 80%,
      rgba(251, 7, 217, 0.53) 90%,
      rgba(255, 0, 0, 0.53) 100%
  );
  color: black;
  text-align: center;
  padding: 30px;
  max-height: 30px;
  min-width: 158px;
  border: solid 2px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  align-items: center;
  height: 70vh;
}

#izquierda {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 50%;
}
.codigo-color {
  font-size: 30px;
  font-weight: bolder;
  margin: 0px 10px 30px 35px;
}

.caja-color-complementario {
  width: 150px;
  height: 60px;
  margin: 0px 10px 30px 30px;
  border: solid 2px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px black;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.puntuacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 30px 35px;
}


/*----------- Botón Reiniciar------------- */
#btnReinicio{
  width: 130px;
  height: 40px;
  border: solid 2px black;
  box-shadow: 3px 3px 0ch black;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  margin: 30px 0px 0px 0px;
}

.ventana-emergente {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.contenido {
  background-color: orange;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  width: 80%;
  height: 18%;
  max-width: 400px;
  position: relative;
  text-align: center;
}

.contenido > p{
  font-weight: bold;
  }

.reinicio {
  color: black;
  float: right;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  width: 90px;
  height: 25px;
  border: solid 1px;
  border-radius: 10px;
  box-shadow: 3px 3px 0px black;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.continuar{
color: black;
float: left;
font-size: 15px;
font-weight: bold;
background-color: white;
cursor: pointer;
width: 90px;
height: 25px;
border: solid 1px;
border-radius: 10px;
box-shadow: 3px 3px 0px black;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
}
/*---------FIN Botón Reiniciar----------- */

#derecha {
  margin: 10px;
  cursor: pointer;
  width: 50%;
  float: right;
}

.cajas-color {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}

.caja-color {
  width: 60px;
  height: 60px;
  margin:  5px 0px 5px 30px;
  cursor: pointer;
  border: solid 2px;
  border-radius: 20%;
  box-shadow: 3px 3px 0px black;
}
 

footer {
  text-align: center;
  color: white;
  font-size: 10px;
  background-color: rgba(26, 135, 7, 0.8);
  margin-top: 20px;
}


/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
  .modalContenedor {
    width: 90%;
  }
}

/* Estilos para tabletas */
@media screen and (min-width: 800px) {
  body {
    background-color: #0307f1;
  }

  .modalContenedor {
    width: 70%;
  }

  .cajas-color {
    flex-direction: initial ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .caja-color {
    width: 80px;
    height: 80px;
    margin: 15px;
  }
}

/* Estilos para ordenadores */
@media screen and (min-width: 1000px) {
  body{
    background-color: brown;
  }

  .modalContenedor {
    width: 50%;
  }

  .cajas-color {
    flex-direction: initial ;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
  }

  .caja-color {
    width: 100px;
    height: 100px;
    margin: 15px;
  }
}
